- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'XXXXX'
- var canonical = '/'
- var themeColor = '#000000'
- var siteName = 'All or Nothing BLACK'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '/',
      name : 'トップページ',
      title : 'トップページ｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
  }
